<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>
  <body class="body-index">
    <%- include('../partials/header'); %>
    <main class="main-index">
      <h1>Find your K-drama Seoulmate</h1>
      <p>
        To fill in this form, you get a recommendation list and make new friends
        to watch with!
      </p>

      <section class="ch-member">
        <h2 class="visually-hidden">Choose profile</h2>
        <button>Choose profile</button>
        <div class="ch-content">

          <!-- foreach
          <a href="/<%# userid %> "></a> -->
          <% users.forEach(kdrama => { %>
            <a href="<%# userId %>"><img src="<%= users["img"] %>" alt="User 1"><%= users[name] %></a>
          <% }) %>

          <a href="/user-1"><img src="<%= users[0].img %>" alt="User 1"><%= users[0].name %></a>
          <a href="/user-2"><img src="<%= users[1].img %>" alt="User 2"><%= users[1].name %></a>
          <a href="/user-3"><img src="<%= users[2].img %>" alt="User 3"><%= users[2].name %></a>
        </div>
      </section>
      <!-- Bron: https://www.w3schools.com/css/css_dropdowns.asp -->
</main>
    <img class="index-logo" src="img/logo.svg" alt="Logo" />
  
    <script src="js/visibility.js"></script>
  </body>
</html>
