<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>
  <body class="body-profile">
    <%- include('../partials/logo'); %>
    <nav class="nav-mylist">
      <a href="/mylist/<%= user._id %>/<%= user.slug %>">Profile</a>
    </nav>
    <section class="section-profile">
      <h1 class="visually-hidden">User profile</h1>
      <!-- <h2>@<%#= users[0].name %></h2>
      <img src="<%#= users[0].img %>" alt="Profile img" /> -->

      <h2>@<%= user.name %></h2>
      <img src="/<%= user.img %>" alt="<%= user.name %>" />
    </section>
    <main class="main-profile">
      <h2>My list</h2>
      <section>
        <h3 class="visually-hidden">Kdramas</h3>
        <% userkdrama.mylist.forEach(fav => { %>
          <article>
            <a href="">
              <h2 class="visually-hidden">Drama poster</h2>
              <img class="poster-img" src="/img/404-cover.jpg" alt="Kdrama poster" />
              <form action="">
                <button>
                    <slug class="heart-add"></slug>
                </button>
              </form>
            </a>
            <h3><%= user._id %></h3>
          </article>
        <% }) %>
        <article>
          <a href="">
            <h2 class="visually-hidden">Drama poster</h2>
            <img class="poster-img" src="/img/404-cover.jpg" alt="Kdrama poster" />
            <form action="">
              <button>
                  <div class="heart-add"></div>
              </button>
            </form>
          </a>
          <h3>Hymn of death</h3>
        </article>
        <article>
          <a href="">
            <h2 class="visually-hidden">Drama poster</h2>
            <img class="poster-img" src="/img/101.jpg" alt="Kdrama poster" />
            <form action="">
              <button>
                <div class="heart-add"></div>
              </button>
            </form>
          </a>
          <h3>Hymn of death</h3>
        </article>
        <article>
          <a href="">
            <h2 class="visually-hidden">Drama poster</h2>
            <img class="poster-img" src="/img/101.jpg" alt="Kdrama poster" />
            <form action="">
              <button>
                <div class="heart-add"></div>
              </button>
            </form>
          </a>
          <h3>Hymn of death</h3>
        </article>
        <article>
          <a href="">
            <h2 class="visually-hidden">Drama poster</h2>
            <img class="poster-img" src="/img/101.jpg" alt="Kdrama poster" />
            <form action="">
              <button>
                <div class="heart-add"></div>
              </button>
            </form>
          </a>
          <h3>Hymn of death</h3>
        </article>
        <article>
          <a href="">
            <h2 class="visually-hidden">Drama poster</h2>
            <img class="poster-img" src="/img/101.jpg" alt="Kdrama poster" />
            <form action="">
              <button>
                <div class="heart-add"></div>
              </button>
            </form>
          </a>
          <h3>Hymn of death</h3>
        </article>
        <article>
          <a href="">
            <h2 class="visually-hidden">Drama poster</h2>
            <img class="poster-img" src="/img/101.jpg" alt="Kdrama poster" />
            <form action="">
              <button>
                <div class="heart-add"></div>
              </button>
            </form>
          </a>
          <h3>Hymn of death</h3>
        </article>
      </section>
      <!-- Progressive enhancement
        Bron: https://www.youtube.com/watch?v=OQZNAMjC6Vg&ab_channel=Devression -->
        <!-- <div class="slider-btns">
          <button><i class="fa-solid fa-angle-left"></i></button>
          <button><i class="fa-solid fa-angle-right"></i></button>
        </div>
        <noscript>
          <style>
            .slider-btns {display: none;}
          </style>
        </noscript> -->
        <!-- Bron: https://stackoverflow.com/questions/1577598/how-to-hide-parts-of-html-when-javascript-is-disabled -->
    </main>
    <script src="https://kit.fontawesome.com/c24c386355.js" crossorigin="anonymous" ></script>
    <script src="/js/profile.js"></script>
    <script src="/js/visibility.js"></script> 
  </body>
</html>
